@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
 
 
body{
    position: relative;
    margin: 0;
    height: 100vh; /* Ocupa toda a tela */
}

.fundo1{
    background-image: url(imagens/fundo1.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: relative;
    
    
}
.fundo1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); /* Cor branca com 50% de opacidade */
}
.fundo2{
    background-image: url(imagens/fundo2.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.fundo2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); /* Cor branca com 50% de opacidade */
}
.fundo3{
    background-image: url(imagens/fundo3.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.fundo3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35); /* Cor branca com 50% de opacidade */
}

.inicio{
    padding-top: 72px;
    margin-right: 135px;
    margin-left: 135px;
    margin-bottom: 180px;
    
}
.cabecalho{
    height: 39px;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.link-menu{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: 'poppins';
    text-decoration: none;
}
.ativo{
    text-decoration: underline 2px;
    text-decoration-color: hsl(0, 0%, 100%, 50%);
    text-underline-offset: 10px;
}
.titulo{
    font-family: 'poppins';
    font-size: 96px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 209px;
    margin-right: 286px;
    margin-left: 286px;
    text-align: center;
    position: relative;
    
}
.subtitulo{
    margin-top: 62px;
    margin-left: 346px;
    margin-right: 346px;
    font-family: 'poppins';
    font-weight: 275;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    
    
}
.botao{
    padding: 16px 69px;
    background-color: #00B43D;
    display: inline-block;
    text-decoration: none;
    font-family: 'inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 8px;
    
}
.lugar-botao{
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
}
.pergunta{
    font-family: 'poppins';
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 152px;
    margin-left: 530px;
    margin-right: 530px;
    text-align: center;
    position: relative;
}
.flex{
    margin-left: 44px;
    margin-right: 44px;
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
}
.lugares{
    width: 320px;
    height: 586px;
    background-color: rgba(88, 88, 88, 1);
    position: relative;
}
.imagem{
    width: 272px;
    height: 252px;
    margin-top: 24px;
    margin-left: 24px;
}
.titulo-imagem{
    font-family: 'poppins';
    font-size: 32px;
    font-weight: 500;
    margin-top: 17px;
    margin-left: 24px;
    color: #FFFFFF;
}
.texto-imagem{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 300;
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 71px;
    color: #FFFFFF;
}
.botao-imagem{
    font-family: 'inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 6px 25px 5px 17px;
    background-color: #4E4E4E;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    
}
.lugar-botao2{
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.ativo2{
    background-color: rgba(17, 0, 0, 0.45);
}
.sobre{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 161px;
    padding-left: 120px;
    position: relative;
}
.texto{
    font-family: 'Poppins';
    font-weight: 275;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 64px;
    margin-left: 120px;
    margin-right: 115px;
    line-height: 50px;
    position: relative;
}

